In [57]:
from google.colab import files
uploaded = files.upload()

Saving bollywood-1.csv to bollywood-1 (1).csv

In [58]:
import numpy as np
import pandas as pd
import matplotlib as plot
import io
df = pd.read_csv(io.BytesIO(uploaded['bollywood-1.csv']));
# Question 1
# Counting total number of records in .csv file
df.SlNo.count()

149

In [59]:
# Question2
print(df.ReleaseTime.value_counts())
df.sort_values(by="ReleaseTime", ascending = False)

N     99
HS    18
FS    17
LW    15
Name: ReleaseTime, dtype: int64

     SlNo Release Date  ... YoutubeLikes YoutubeDislikes
74     75    25-Apr-14  ...         3013             392
65     66    28-Mar-14  ...         3004             278
75     76    28-Feb-14  ...         9021            1465
1       2    04-Jan-13  ...         1129             137
73     74    29-Aug-14  ...         8197            1155
..    ...          ...  ...          ...             ...
121   122    08-Nov-13  ...           89              26
122   123    15-Nov-13  ...         1606            1083
40     41    08-Mar-13  ...         1037             189
125   126    11-Oct-13  ...           33               7
126   127    11-Oct-13  ...            9               4

[149 rows x 10 columns]

In [60]:
# Question 3
df.sort_values(by="ReleaseTime", ascending = False).iloc[132:149].Genre.max()

'Thriller'

In [61]:
# Question 4
df.loc[:,["ReleaseTime","Genre"]].sort_values(["ReleaseTime","Genre"])

    ReleaseTime      Genre
23           FS     Drama
40           FS     Drama
127          FS     Drama
128          FS     Drama
92           FS     Action
..          ...        ...
137           N   Thriller
140           N   Thriller
145           N   Thriller
1             N  Thriller
20            N  Thriller

[149 rows x 2 columns]

In [62]:
# Question 5
df.loc[:,"Release Date"].str[-2:].max()

'15'

In [63]:
# Question 6
x = df.loc[:,["Release Date","Budget"]].Budget>=30
y = df[x]
y.loc[:,"Release Date"].str[-6:-3].max()

'Sep'

In [64]:
# Question 7
df['ROI'] = (df.BoxOfficeCollection - df.Budget)/(df.Budget)
df.sort_values(by="ROI").head(10)

     SlNo Release Date  ... YoutubeDislikes       ROI
9      10    11-Jan-13  ...               1 -0.995000
15     16    18-Jan-13  ...              14 -0.977500
53     54    22-Mar-13  ...             112 -0.976000
3       4    04-Jan-13  ...              19 -0.950000
49     50    02-May-14  ...              64 -0.928571
121   122    08-Nov-13  ...              26 -0.926667
67     68    02-May-14  ...             229 -0.890000
103   104    25-Apr-14  ...             180 -0.888889
30     31    07-Feb-14  ...             227 -0.875000
102   103    25-Apr-14  ...             595 -0.870968

[10 rows x 11 columns]

In [88]:
# Question 8
print("ROI for Festive Season:")
print(df.sort_values(by="ReleaseTime").iloc[:17].ROI.mean())
print("ROI for Long Weekend:")
print(df.sort_values(by="ReleaseTime").iloc[35:50].ROI.mean())
print("ROI for Holiday Season:")
print(df.sort_values(by="ReleaseTime").iloc[17:35].ROI.mean())
print("ROI for :Normal:")
print(df.sort_values(by="ReleaseTime").iloc[50:].ROI.mean())

ROI for Festive Season:
0.9738532013595953
ROI for Long Weekend:
1.1272053098737975
ROI for Holiday Season:
0.8508667840873723
ROI for :Normal:
0.6577216305350877